$mainColor: #e9edf5;
$subColor: #F1CB16;
$alertColor: #FF1584;

$borderColor: #2A2A42;

$bgMainColor: #1c1d2f;
$bgGrayColor: #EFEFEF;

$fontMainColor: #75f14b;
$fontBlackColor: #333333;
$fontGrayColor: #999999;


$cardshadowColor: #ccc;

$buttonmainColor: #4A90E2;

$mainbackgroundColor: #F1F5F5;

$fontNavyColor: #1A395D;
$fontBlueColor: #4A90E2;


$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;
